
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    
}
html,body{
    height: 100%;
    width: 100%;
    background-color:#0c0916 ;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #0c0916;
}
#top{
    position: absolute;
    
    
    top: 12px;
    height: 15vh;
    width: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
#top a{
    text-decoration: none;
}
#top i{
    position: relative;
    top: 20px;
    padding-top: 40px;
    font-size: 32px;
    color: #000;
}
#top h1{
    position: relative;
    top: 4px;
   
    color : #000;
    font-size : 28px;
    text-align: center;
}


.search {
  width: 100%;
  position: relative;
  bottom: 220px;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #632ac1;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #b99dbf;
}

.searchTerm:focus{
  color: #632ac1;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #632ac1;
  background: #632ac1;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
    z-index: 999;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#hori-boxes{
  
  position: relative;
  
}
#hori-boxes li{
    text-decoration: none;
    list-style: none;
}
#box{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    top: 200px;
    left: 340px;
    height: 200px;
    width: 960px;
    background-color: #fff;
}
#box #img-part{
    height: 100%;
    width: 20%;

}
#box #img-part img{
    height: 200px;
    width: 400px;
    background-size: cover;
}
/*#box #img-part #bg-img{
    
    background-size: contain;
    height: 200px;
    width: 100px;
}*/

#box #description{
    position: absolute;
    bottom: 0px;
    left: 200px;
    width: 72%;
    height: 100%;
    background-color: #fff;
    
}
#box #description h2,h4,p{
    color: #000;
    padding: 16px;
}
#box #description h4{
    color: #467cfb;
}
#box #description p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#box #description button{
    background-color: #467cfb;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    text-decoration: none;

}