<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Description of event</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/description.css" />
  </head>
  <body>
    <div id="main">
      <div id="left">
        <img src="../static/uploads/test.jpg" alt="hack-img" />
      </div>
      <div id="right">
        <h1>HackItOn</h1>
        <h3><span>Date : </span>October 22-23, 2023</h3>
        <h3><span>Time :</span> 9:30AM onwards</h3>
        <h3><span>Location :</span> Swecha office, Hyderabad</h3>
        <h2>About us</h2>
        <p>
          We are excited to share with you that SDC will be hosting a 12-hour<br />
          Offline hackathon as a part of empowering India with Innovation.
          <br />
          HASH IT OUT is more than just an event; it's a passion-driven<br />
          initiative to catalyze change through technology. Founded on the<br />
          belief that innovation knows no bounds, our hackathon, scheduled<br />
          for October 22-23, 2023
        </p>
        <h2>Prizes</h2>
        <p>
          Lorem, ipsum dolor exercitationem, voluptatibus quod doloribus dolore
          unde!
        </p>
        <h3 id="cash">$5000 cash prize</h3>
        <h2>Contact us</h2>
        <h3>
          <i class="ri-mail-fill"></i>
          <i class="ri-phone-fill"></i>
          <i class="ri-github-fill"></i>
        </h3>
      </div>
    </div>
  </body>
</html>
