<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host a hackathon</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="host.css">
</head>
<body>
    <div id="heading">
        <h1>Wanna host a hackathon ?</h1>
    </div>
    <form class="form-style-9">
        <ul>
        <li>
            <input type="text" name="field1" class="field-style field-split align-left" placeholder="Organization's name" />
            <input type="email" name="field2" class="field-style field-split align-right" placeholder="Email" />
        
        </li>
        <li>
            <input type="text" name="field3" class="field-style field-split align-left" placeholder="Phone" />
            <input type="url" name="field4" class="field-style field-split align-right" placeholder="Website" />
        </li>
        <li>
            <input type="text" name="field3" class="field-style field-full align-none" placeholder="Location" />
        </li>
        <li>
        <input type="text" name="field3" class="field-style field-full align-none" placeholder="Hackathon title" />
        </li>
        <li>
            <input type="text" name="field3" class="field-style field-full align-none" placeholder="Attach image url" />
        </li>
        <li>
        <textarea name="field5" class="field-style" placeholder="Description"></textarea>
        </li>
        <li>
        <input type="submit" value="Submit" />
        </li>
        </ul>
        </form> 
</body>
</html>